<div class="main">
  <div class="header" #header>
    <div class="logo">
      <h4 class="heading-4">hr.</h4>
    </div>
    <div class="nav">
      <div class="burger-icon"></div>
    </div>
  </div>
  <div class="center-info">
    <div class="center-info-box" #centerBox>
      <div class="center-info-box-left">Sort by <span>Latest</span></div>
      <div class="center-info-box-right">2024</div>
    </div>
  </div>
  <section class="section section-one" #sectionOne>
    <figure class="image-container one">
      <img src="IMG_1142.png" alt="" />
      <figcaption class="caption">24</figcaption>
    </figure>
    <figure class="image-container">
      <img src="IMG_2322.png" alt="" #imageSecond />
      <figcaption class="caption" #imageSecondCap>Devop</figcaption>
    </figure>
    <figure class="image-container" #imageThird>
      <div class="fig">PixelPulse</div>
      <figcaption class="caption">
        Web developer by day, gym rat by night, and full-time professional at
        eating and sleeping. Code, carbs, and curls—life in perfect balance!
      </figcaption>
    </figure>
    <figure class="image-container">
      <figcaption class="caption" #imageFourthCap>'20</figcaption>
      <img src="IMG_7003.png" alt="" #imageFourth />
    </figure>
    <figure class="image-container" #imageFifth>
      <img src="IMG_4220.png" alt="" #imageFourth />
      <figcaption class="caption" #imageFourthCap>'20</figcaption>
    </figure>
  </section>

  <section class="section-two">
    <div class="letter" #letter>
      <span>A</span>
      <span>(1 Items)</span>
    </div>
    <div class="titles" #titles>
      <div class="title-1">
        <span class="num">01</span>
        <h1>About</h1>
      </div>
      <p>
        I'm Habeeb Rahman CA, a passionate self-taught web developer with a
        strong expertise in Angular. I enjoy creating dynamic and responsive web
        applications that solve real-world problems.
      </p>
      <figure class="image-1" #imageOne>
        <img src="IMG_9564.png" alt="">
      </figure>
      <figure class="image-2 #imageTwo">
        <img src="IMG_8154.png" alt="">
      </figure>
    </div>
  </section>
</div>
